/**
 * Fabricator styles
 * @author Luke Askew
 * Class selectors are namespaced with "f-"
 */

$settings: (
        theme: light,
        accent: hsl(0, 0%, 46%),
        menu-width: 22rem
);

@media screen {
  @import 'partials/variables';
  @import 'partials/code';
  @import 'partials/color-chips';
  @import 'partials/controls';
  @import 'partials/item';
  @import 'partials/layout';
  @import 'partials/menu';
}

@media print {
  .f-controls,
  .f-item-controls,
  .f-control-bar,
  .f-item-code,
  .f-item-notes {
    display: none;
  }
}
