/**
 * @file
 * Color variables.
 *
 * Provide base color palette variables.
 *
 */

// Define color variables.
$black: #333;
$ltblue: #96b4ce;
$blue: #326cb1;
$medblue: #2f6baa;
$ltgray: #a2a2a2;
$medgray: #666;
$gray: #333;
$owhite: #f2f2f2;
$white: #fff;

// Define generic color variables.
$dark: $black;
$light: $owhite;
$highlight: $blue;

// Define style swatches for the styleguide.
.light {
  border-color: $light;
}
.dark {
  border-color: $dark;
}
.highlight {
  border-color: $highlight;
}
