/**
 * @file
 * Font variables.
 *
 * Provide base font variables.
 *
 */

// Use crisp font aliasing
@mixin crisp() {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// Define font stacks.
$georgia: Georgia, "Times New Roman", "DejaVu Serif", serif;
$helvetica: Helvetica, Arial, "Nimbus Sans L", sans-serif;
$courier: "Courier New", "DejaVu Sans Mono", monospace, sans-serif;

// Define generic font variables.
$serif: "Droid Serif", $georgia;
$sans: "Source Sans Pro", $helvetica;
$mono: $courier;

// Define the site base fonts.
$base-font-family: $sans;
$base-heading-font: $sans;
