/**
 * @file
 * Custom Mixins.
 *
 */

// Use crisp font aliasing
@mixin crisp() {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// Reset a list style.
// $type: float, inline or inline-block.
@mixin list-reset($type: float) {
  list-style: none;
  margin: 0;
  padding: 0;
  @include clearfix;
  li {
    @if $type == float {
      float: left;
      display: block;
    } @else if $type == inline {
      display: inline;
    } @else if $type == inline-block {
      display: inline-block;
    }
    list-style-type: none;
    list-style-image: none;
  }
}

// Define a global box-shadow style.
@mixin box-shadow {
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
}

// Convert a pixel to rem value
@mixin font-size($sizeValue: 16) {
  font-size: ($sizeValue / 10) + rem;
}

// Trims the margin for top/bottom or left/right.
@mixin trim($direction: v) {
  @if $direction == v {
    &:first-child {
      margin-top: 0;
    }
    &:last-child {
      margin-bottom: 0;
    }
  } @else if $direction == h {
    &:first-child {
      margin-left: 0;
    }
    &:last-child {
      margin-right: 0;
    }
  }
}

// A global setting that can be used for controlling container widths.
@mixin inner-wrapper {
  position: relative;
  max-width: $screen-tablet - 60px;
  margin: 0 30px;
  @include clearfix;
  @include breakpoint($tablet-only) {
    margin: 0 auto;
  }
  @include breakpoint($desktop) {
    max-width: $screen-max - 120px;
    margin: 0 60px;
  }
  @include breakpoint($lg-desktop) {
    margin: 0 auto;
  }
}

// Auto scroll with smooth scrolling on touch devices.
@mixin scroll {
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
}

// Positions the element to 100% the width and height of the relative container.
@mixin fill {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
