//Define your custom font styles for selectors here
h1 {
  font-family: $base-heading-font;
}
// Heading style
h2,
h3,
h4,
h5,
h6 {
  font-family: $base-heading-font;
}
a {
  color: $highlight;
  text-decoration: none;
}
hr {
  border-bottom: $border;
  border-top: 0;
}
blockquote {
  border-left: $border;
  padding-left: $indent-amount;
  font-size: 1.5em;
}

.intro {
  font-size: 1.5em;
  line-height: 2em;
}
a.button-link {
  @extend %button;
}
#logo img {
  max-width: 160px;
}