/**
 * @file
 * Variables.
 *
 */

// Screen width variables.
$screen-min: 320px;
$screen-mobile: 500px;
$screen-tablet: 760px;
$screen-desktop: 1024px;
$screen-max: 1440px;

// Breakpoint variables using screen widths.
$min-width: $screen-min;
$mobile: max-width $screen-mobile;
$lg-mobile: $screen-mobile + 1 $screen-tablet;
$tablet: min-width $screen-tablet + 1;
$tablet-only: $screen-tablet + 1 $screen-desktop - 1;
$all-devices: max-width $screen-desktop - 1;
$desktop: min-width $screen-desktop;
$desktop-only: $screen-desktop $screen-max - 1;
$lg-desktop: min-width $screen-max;

// Color variables.
$black: #333;
$ltblue: #96b4ce;
$blue: #326cb1;
$medblue: #2f6baa;
$ltgray: #a2a2a2;
$medgray: #666;
$gray: #333;
$owhite: #f2f2f2;
$white: #fff;

// Generic font variables.
$serif: "Droid Serif", Georgia, "Times New Roman", "DejaVu Serif", serif;
$sans: "Source Sans Pro", Helvetica, Arial, "Nimbus Sans L", sans-serif;
$mono: "Courier New", "DejaVu Sans Mono", monospace, sans-serif;

// Base fonts variables.
$base-font-family: $sans;
$base-heading-font: $sans;

// Grid variables.
$grid-columns: 16;
$grid-column-gap: 20px;
$grid-row-gap: $grid-column-gap;
