/**
* @file
* Form element styles.
*
*/

// Fully prefixed placeholder styling.
@mixin placeholder {
  &::-webkit-input-placeholder {
    @content;
  }
  &:-moz-placeholder {
    @content;
  }
  &::-moz-placeholder {
    @content;
  }
  &:-ms-input-placeholder {
    @content;
  }
}

// Global form styles
form {
  margin-top: 20px;
  margin-bottom: 20px;
  > * {
    @include trim();
  }
}
.form-item,
.form-actions {
  margin: 20px 0;
}

// Global label styles.
label {
  margin-bottom: 5px;
  font-family: $sans;
}

// Global input styles.
input[type="text"],
input[type="search"],
input[type="email"],
input[type="password"],
input[type="number"],
textarea {
  min-width: 280px;
  padding: 6px 12px;
  border: $border;
  box-sizing: border-box;
  font-family: $sans;
}
input[type="checkbox"],
input[type="radio"] {
  @include element-invisible;
  + label {
    position: relative;
    display: inline;
    box-sizing: border-box;
    font-weight: normal;
    cursor: pointer;
    &:before {
      display: inline-block;
      width: 14px;
      height: 14px;
      margin-bottom: -2px;
      margin-right: 8px;
      overflow: hidden;
      border: 1px solid $blue;
      content: '';
    }
    &.js-focus:before {
      box-shadow: 0 0 5px #444;
    }
  }
  &:checked + label {
    &:before {
      background-color: $blue;
    }
  }
}
input[type="radio"] + label:before {
  border-radius: 50%;
}

// Global select box styles.
.selectlist {
  position: relative;
  display: inline-block;
  border: 1px solid $ltgray;
  background-clip: padding-box;
  background-color: #eee;
}
select {
  position: relative;
  z-index: 2;
  display: block;
  height: 40px;
  box-sizing: border-box;
  padding: 8px 16px;
  -moz-padding-end: 10px;
  min-width: 200px;
  border: 1px solid $ltgray;
  border-radius: 0;
  background-color: #eee;
  font-family: $sans;
  line-height: 1em;
  appearance: none;
  cursor: pointer;
  .selectlist & {
    float: left;
    margin: 0;
    border: none;
    background: transparent;
    background-color: transparent;
    line-height: 14px;
  }
}

// Global button styles.
button,
input[type="submit"],
input[type="button"] {
  @extend %button;
}
