/**
* @file
* Table styles.
*
*/

table {
  border: 0 solid lightgray;
  width: 100% !important;
  tr {
    border: 0 solid lightgray;
    &:nth-child(even) {
      background: #f7f7f7;
    }
  }
  td,
  th {
    border-color: lightgray;
    padding: 0.5em 1em;
    text-align: left;
    > * {
      &:first-child {
        margin-top: 0;
      }
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  thead th,
  tbody th {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 0.92em;
    background: #e7e7e7;
  }
  th.empty-header-cell {
    visibility: hidden;
  }
}

// Responsive data tables with headers.
@include breakpoint($all-devices) {
  table.data {
    overflow: hidden;
    display: block;
  }
  table.data thead,
  table.data th {
    display: none;
  }
  table.data tbody,
  table.data tbody th,
  table.data tr,
  table.data td,
  table.data caption {
    display: block;
    width: 100%;
    float: left;
  }
  table.data tr {
    border-width: 1px;
    padding: 20px 10px;
    + tr {
      border-top-width: 0;
    }
    > th,
    > td {
      border-width: 0;
    }
  }
  table.data td.labeled:before {
    content: attr(data-th);
    display: block;
    font-weight: bold;
    font-size: 0.92em;
    color: #555;
    border-bottom: 1px solid lightgray;
    margin-bottom: 0.5em;
    padding-bottom: 0.5em;
  }
}
