/**
* @file
* Typographic styles.
*
*/

// Define a border style.
$border: 1px solid #ccc;

// Set global styles for the document.
body {
  @include font-size(18);
  line-height: 1.6;
  min-width: $min-width;
  color: $gray;
  font-family: $base-font-family;
  @include breakpoint($all-devices) {
    &.noscroll {
      position: fixed;
      overflow: hidden;
      height: 100%;
      width: 100%;
    }
  }
}

//Define heading styles.
h1 {
  font-family: $base-heading-font;
}
h2,
h3,
h4,
h5,
h6 {
  font-family: $base-heading-font;
}

// Define a link style.
a {
  color: $blue;
  text-decoration: none;
}

// Define a horizontal rule style.
hr {
  border-bottom: $border;
}

// Define a blockquote style.
blockquote {
  border-left: $border;
  padding-left: 3rem;
  font-size: 1.5em;
  line-height: 1.25em;
  p {
    margin: 0.5em 0;
  }
}
cite {
  @include font-size(16);
  display: block;
}

// Define an intro style.
.intro {
  font-size: 1.5em;
  line-height: 1.5em;
}

// Global button style.
.button-link,
%button {
  position: relative;
  z-index: 1;
  display: inline-block;
  height: 40px;
  box-sizing: border-box;
  padding: 0 20px;
  border: 0;
  border-radius: 0;
  background-color: $blue;
  color: #fff;
  font-family: $sans;
  line-height: 40px;
  appearance: none;
  cursor: pointer;
  @include hover {
    background-color: lighten($blue, 10);
  }
}
