---
title: Typography | Styleguide
fabricator: true
---

<h1>Heading Level 1</h1>

<p class="intro">Lorem ipsum dolor sit amet,
  <a href="#">consectetur adipisicing</a> elit. Aperiam enim sunt sapiente molestias, sed dicta inventore consectetur beatae asperiores, aliquid laboriosam animi, praesentium repudiandae et, quam saepe sint cupiditate reiciendis.
</p>

<h2>Heading Level 2</h2>

<p>Donec posuere velit elit, id dapibus libero eleifend ut. Maecenas sed placerat tortor, tempor blandit massa. Duis non tortor venenatis, cursus ex vitae, vulputate arcu. Integer quis arcu vulputate, sollicitudin dolor a, ultricies mauris. Quisque accumsan metus sit amet elit tempor, at mattis leo commodo. Aenean sed augue vel ex ullamcorper egestas ut nec metus. Quisque a ex at massa condimentum vestibulum. Donec egestas euismod dictum. Etiam consequat, odio eu imperdiet malesuada, enim sapien cursus arcu, eget congue enim mauris ut tellus. Etiam in cursus nisl. Suspendisse bibendum sodales elit, a dictum lorem tincidunt ac. Cras in mauris at sapien porttitor pellentesque. Maecenas sapien nulla, iaculis vel libero non, euismod sollicitudin magna. In hac habitasse platea dictumst. Suspendisse a ipsum erat. Vivamus nec ornare tortor.</p>

<blockquote>
  <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Aenean lacinia bibendum nulla sed consectetur.</p>
</blockquote>

<h3>Heading Level 3</h3>

<p>Curabitur vel tellus nec massa rhoncus molestie id auctor odio. Etiam id neque erat. Praesent velit nisl, iaculis ut placerat vitae, venenatis nec est. Quisque vehicula turpis gravida, rhoncus purus at, auctor libero. Cras cursus, augue at sagittis luctus, sem dolor pharetra felis, ut consequat eros lorem id augue. Etiam tincidunt massa eros, ut dictum orci convallis sed. Morbi elementum tortor diam, vestibulum placerat nibh viverra et. Nunc suscipit libero nec lacus consectetur placerat. Praesent efficitur mattis ante, a sollicitudin risus congue non. Cras ac convallis diam. Suspendisse vel dignissim quam. Ut pharetra enim dui, vitae cursus nisl aliquam at. Donec tristique sem in elit dictum placerat. Nam vel lacus ex. Ut tempus tortor ac bibendum eleifend. Proin aliquam sagittis erat quis faucibus.</p>

<h4>Heading Level 4</h4>

{{> lists.unordered}}

<p>Curabitur vel tellus nec massa rhoncus molestie id auctor odio. Etiam id neque erat. Praesent velit nisl, iaculis ut placerat vitae, venenatis nec est. Quisque vehicula turpis gravida, rhoncus purus at, auctor libero. Cras cursus, augue at sagittis luctus, sem dolor pharetra felis, ut consequat eros lorem id augue. Etiam tincidunt massa eros, ut dictum orci convallis sed. Morbi elementum tortor diam, vestibulum placerat nibh viverra et. Nunc suscipit libero nec lacus consectetur placerat. Praesent efficitur mattis ante, a sollicitudin risus congue non. Cras ac convallis diam. Suspendisse vel dignissim quam. Ut pharetra enim dui, vitae cursus nisl aliquam at. Donec tristique sem in elit dictum placerat. Nam vel lacus ex. Ut tempus tortor ac bibendum eleifend. Proin aliquam sagittis erat quis faucibus.</p>

<h5>Heading Level 5</h5>

{{> paragraph }}

<h6>Heading Level 6</h6>

{{> lists.ordered}}

<hr />


<h2>Colors</h2>

<div class="f-color-chips">
  <div class="f-color-chip dark">
    <div class="f-color-chip__name">$dark</div>
  </div>
  <div class="f-color-chip light">
    <div class="f-color-chip__name">$light</div>
  </div>
  <div class="f-color-chip highlight">
    <div class="f-color-chip__name">$highlight</div>
  </div>
</div>
