---
notes: |
  Required: JQuery
---
<div class="background-video">
  <video poster="https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/polina.jpg" id="bgvid" playsinline autoplay muted loop>
  <!-- 
	- Video needs to be muted, since Chrome 66+ will not autoplay video with sound.
	WCAG general accessibility recommendation is that media such as background video play through only once. Loop turned on for the purposes of illustration; if removed, the end of the video will fade in the same way created by pressing the "Pause" button  -->
    <source src="http://thenewcode.com/assets/videos/polina.webm" type="video/webm">
    <source src="http://thenewcode.com/assets/videos/polina.mp4" type="video/mp4">

  </video>
  <div >
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam eu lectus condimentum, feugiat diam at, sollicitudin sem. Phasellus vitae pulvinar purus. Morbi luctus tortor quis ipsum mollis, id blandit eros cursus.</p>
	<p> Aenean quis pharetra leo. Suspendisse sed magna posuere, volutpat metus non, ultricies velit. Aliquam dictum vel nibh quis posuere. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Maecenas id viverra justo.</p>
    <button>Pause</button>
  </div >
</div >