<!doctype html>
<html lang="">
<head>

	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>{{title}}</title>

	<!-- toolkit styles -->
	<link rel="stylesheet" href="../css/styles.css">
	<!-- /toolkit styles -->

</head>
<body>
<a href="#main-content" class="visually-hidden element-focusable skip-link" id="top">Skip to main content</a>

<a id="main-content"></a>
{% body %}

<a href="#top" class="visually-hidden element-focusable skip-link" id="bottom">Back to Top</a>

<!-- vendor scripts -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<!-- /vendor scripts -->

<!-- trestle scripts -->
<script src="../js/script.js"></script>
<script src="../js/carousel.js"></script>
<script src="../js/modal.js"></script>
<!-- /trestle scripts -->

</body>
</html>
