/**
 * Messages.
 */
.messages {
  margin: 10px 0;
  padding: 10px 10px 10px 50px; /* LTR */
  border: 1px solid #be7;
  position: relative;
  &:before {
    content: '✓';
    position: absolute;
    top: 20px;
    left: 8px;
    color: #be7;
    font-size: 1.5em;
    font-weight: bold;
    width: 1.5em;
    text-align: center;
  }
}

h3.message__title {
  margin: 0;
}
.messages--status {
  @extend .messages;
  @extend %ok;
}
.messages--warning {
  @extend .messages;
  @extend %warning;
  border-color: #ed5;
  &:before {
    content: '!';
    color: #ed5;
  }
}
.messages--error {
  @extend .messages;
  @extend %error;
  border-color: #ed541d;
  &:before {
    content: '×';
    color: #ed541d;
  }

}
.messages__list {
  margin: 0;
}
.messages__item {
  list-style-image: none;
}

/* Core/module installation error messages. */
.messages--error  p.error {
  color: #333;
}

/* System status report. */
.ok,
%ok {
  background-color: #f8fff0;
  color: #234600;
}
.warning,
%warning {
  background-color: #fffce5;
  color: #840;
}
.error,
%error {
  background-color: #fef5f1;
  color: #8c2e0b;
}