/**
 * Tabs.
 */

/* Basic positioning styles shared by primary and secondary tabs. */
%tabs {
  @include clearfix;
  /* IE 9 and earlier don't understand gradients. */
  list-style: none;
  border-bottom: $border;
  margin: 20px 0;
  padding: 0 2px;
  white-space: nowrap;
  font-family: $sans;
}
%tabs__tab {
  float: left; /* LTR */
  margin: 0 3px;
}
%tabs__tab-link {
  border-right: 0;
  border-bottom: 0;
  display: block;
  text-decoration: none;
  font-size: modular-scale(1, .55em);
  line-height: 1.7em;
  font-weight: bold;
}

/* Primary tabs. */
.tabs-primary,
.tabs.primary {
  @extend %tabs;
}
.tabs.primary > li,
.tabs-primary__tab {
  @extend %tabs__tab;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border: $border;
  border-bottom-width: 0;
  /* IE 9 and earlier don't understand gradients. */
  border-bottom: 0 \0/ie;
}
.tabs.primary > li.is-active,
.tabs-primary__tab.is-active {
  @extend .tabs-primary__tab;
  border-bottom-width: 0;
}

// We use 3 placeholder styles to prevent @extend from going selector crazy.
%tabs-primary__tab-link {
  @extend %tabs__tab-link;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  transition: background-color 0.3s;
  color: #333;
  background-color: #dedede;
  padding: 0 1em;
  text-align: center;
}
%tabs-primary__tab-link-is-hover {
  background-color: #e9e9e9;
  border-color: #f2f2f2;
}
%tabs-primary__tab-link-is-active {
  background-color: transparent;
  border-color: #fff;
}

.tabs.primary > li > a,
a.tabs-primary__tab-link {
  @extend %tabs-primary__tab-link;

  &:hover,
  &:focus {
    @extend %tabs-primary__tab-link-is-hover;
  }
  &:active {
    @extend %tabs-primary__tab-link-is-active;
  }
}

.tabs.primary > li.is-active > a.is-active,
a.tabs-primary__tab-link.is-active {
  @extend %tabs-primary__tab-link;
  @extend %tabs-primary__tab-link-is-active;
}

/* Secondary tabs. */
.tabs-secondary {
  @extend %tabs;
  font-size: .9em;
  /* Collapse bottom margin of ul.primary. */
  margin-top: -20px;
}
.tabs-secondary__tab,
.tabs-secondary__tab.is-active {
  @extend %tabs__tab;
  margin: 10px 3px;
}

// We use 3 placeholder styles to prevent @extend from going selector crazy.
%tabs-secondary__tab-link {
  @extend %tabs__tab-link;
  border-radius: .75em;
  transition : background-color 0.3s;
  background-color: #f2f2f2;
  color: #666;
  padding: 0 .5em;
}
%tabs-secondary__tab-link-is-focus {
  background-color: #dedede;
  border-color: #999;
  color: #333;
}
%tabs-secondary__tab-link-is-active {
  background-color: #666;
  border-color: #000;
  color: #fff;
}

a.tabs-secondary__tab-link {
  @extend %tabs-secondary__tab-link;

  &:hover,
  &:focus {
    @extend %tabs-secondary__tab-link-is-focus;
  }
  &:active {
    @extend %tabs-secondary__tab-link-is-active;
  }
}
a.tabs-secondary__tab-link.is-active {
  @extend %tabs-secondary__tab-link;
  @extend %tabs-secondary__tab-link-is-active;
}