/**
 * @file
 * Content state highlighting.
 *
 * Provide styling to highlight unpublished state of content.
 *
 */

.unpublished {
  height: 0;
  overflow: visible;
  background-color: transparent;
  color: #d8d8d8;
  font-size: 75px;
  line-height: 1;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  word-wrap: break-word;
}
