form {
  margin-top: 20px;
  margin-bottom: 20px;
  > * {
    @include trim();
  }
}
.form-item,
.form-actions {
  margin: 20px 0;
}
label {
  font-family: $sans;
  margin-bottom: 5px;
}
input[type="text"],
input[type="search"],
input[type="email"],
input[type="password"],
input[type="number"],
textarea {
  padding: 6px 12px;
  font-family: $sans;
  min-width: 280px;
  box-sizing: border-box;
  border: $border;
}

input[type="checkbox"],
input[type="radio"] {
  @extend %element-invisible;
  + label {
    display: inline;
    font-weight: normal;
    box-sizing: border-box;
    position: relative;
    left: $indent-amount + 6;
    cursor: pointer;
    &:before {
      content: '';
      position: absolute;
      display: block;
      left: -($indent-amount + 6);
      top: 0;
      height: 24px;
      width: 24px;
      overflow: hidden;
      border: 1px solid $highlight;
    }
  }
  &:checked + label:before {
    background-color: $highlight;
  }
}
input[type="radio"] + label:before {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}

select {
  box-sizing: border-box;
  position: relative;
  z-index: 1;
  border: 0;
  -webkit-appearance: none;
  appearance: none;
  -moz-appearance: window;
  line-height: 40px;
  height: 40px;
  padding: 0 14px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  cursor: pointer;
  background: $highlight;
  color: #fff;
  font-family: $sans;
  min-width: 200px;
}

button,
input[type="submit"],
input[type="button"] {
  @extend %button;
}
