/**
* @file
* Navigation styles.
*
* Define some global navigation styles.
*
*/

#navigation {
  padding: 1em 0;
  font-family: $sans;
  > ul.menu {
    @include list-reset();
    > li {
      position: relative;
      > ul.menu {
        position: absolute;
        top: 0;
        left: -9999px;
        z-index: 100;
        padding: 0;
        background-color: $owhite;
        li {
          white-space: nowrap;
        }
      }
      @include hover {
        background-color: $owhite;
        > ul.menu {
          top: 100%;
          left: 0;
        }
      }
      a {
        display: block;
        padding: 10px 16px;
        font-weight: 600;
        &.active {
          border-bottom: 2px solid $highlight;
        }
        @include hover {
          color: $medgray;
        }
      }
    }
  }

  // Mobile navigation styles.
  @include breakpoint($all-devices) {
    position: fixed;
    top: 76px;
    right: -255px;
    z-index: 99999;
    overflow-y: auto;
    width: 255px;
    height: 100%;
    padding: 0 0 50px;
    background-color: #f7f7f7;
    transition: right 300ms;
    .menu-active & {
      right: 0;
      transition: all 500ms ease;
    }
    .menu {
      > li {
        float: none;
        display: block;
        padding: 12px 16px;
        border-bottom: 1px solid $ltgray;
        list-style: none;
        text-decoration: none;
        font-size: 20px;
        cursor: pointer;
      }
    }
  }
}
