.share-buttons {
  // position: fixed;
  top: 30%;
  width: 3pc;
  z-index: 10000;
  @include breakpoint(medium) {
    bottom: 0;
    top: auto;
    width: 100%;
  }
  .social-share {
    cursor: pointer;
    display: block;
    padding: 12px 0;
    transition: .15s ease-out;
    width: 3pc;
    @include breakpoint(medium) {
      float: left;
    }
    &:hover,
    &:active,
    &:focus {
      @media screen and (min-width: 911px) {
        width: 4pc !important;
      }
    }
    &.linkedin {
      background-color: #0077b5;
      &:hover,
      &:active,
      &:focus {
        background-color: #046293;
      }
    }
    &.pinterest {
      background-color: #bd081c;
      &:hover,
      &:active,
      &:focus {
        background-color: #8c0615
      }
    }
    &.google {
      background-color: #dd4b39;
      &:hover,
      &:active,
      &:focus {
        background-color: #c23321
      }
    }
    &.twitter {
      background-color: #55acee;
      &:hover,
      &:active,
      &:focus {
        background-color: #2795e9
      }
    }
    &.facebook {
      background-color: #3b5998;
      &:hover,
      &:active,
      &:focus {
        background-color: #2d4373;
      }
    }
    &.email {
      background-color: #777;
      &:hover,
      &:active,
      &:focus {
        background-color: #5e5e5e;
      }
    }
    svg {
      display: block;
      fill: #fff;
      height: 1.5em;
      margin: 0 auto;
      stroke: none;
      width: 1.5em;
    }
  }
}
