/**
* @file
* Tab styles.
*
* Define some global tab styles.
*
*/

.tm-tab-enabled {
  .tm-tab-label {
    display: none;
  }
  .tm-tab-content {
    &.tm-tab-hide {
      display: none;
    }
  }
  .tm-tab-links {
    .active {
      font-weight: bold;
    }
  }
}
