/**
* @file
* Video background css
*
* Docs: https://codepen.io/dudleystorey/pen/knqyK;
*
*/
.background-video {
  position: relative;
  min-height: 100%;
  display: block;
  overflow: hidden;
  width: 100%;
  z-index: 100;
  background: url('https://picsum.photos/2200/1400/?gravity=east') 0 0/100% no-repeat;
  div {
    padding: 2rem;
    margin: 16rem 2rem 2rem 2rem;
    background: $white;
    font-size: 1.2rem;        
    @include breakpoint($desktop) {
      margin:2rem;
      width: 33%;
      float: right;
    }
  }

  button {
    @include element-invisible;
/*    display: block;
*/  }
  video { 
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
    background: url('https://picsum.photos/2200/1400/?gravity=east') 0 0/100% no-repeat;
    background-size: cover;
    display: none;
    @include breakpoint($desktop) {
      display: block;
    }
  }

}
