/**
 * @file
 * Positioning for a responsive layout.
 *
 * Define CSS classes to create a fluid grid layout with optional sidebars
 * depending on whether blocks are placed in the left or right sidebars.
 *
 */

#main {
  @include clearfix();
}

// Layout positioning for large desktop size
@include breakpoint($desktop) {

  //The layout when there are no sidebars.
  .no-sidebars {
    #content {
      @include col(10, 14, $offset: 2);
    }
  }

  // The layout when there is only one sidebar, the left one.
  .sidebar-first {
    #content {
      @include col(9, 14, $offset: 5);
      margin-right: -100%;
    }
    .sidebar-first {
      @include col(4, 14);
    }
  }

  // The layout when there is only one sidebar, the right one.
  .sidebar-second {
    #content {
      @include col(9, 14);
    }
    .sidebar-second {
      @include col(4, 14, $offset: 1);
    }
  }

  // The layout when there are two sidebars.
  .two-sidebars {
    #content {
      @include col(9, 14);
    }
    .sidebars {
      @include col(4, 14, $offset: 1);
    }
  }
}

// Layout positioning for large desktop size
@include breakpoint($lg-desktop) {

  // The layout when there are two sidebars.
  .two-sidebars {
    #content {
      @include col(7, 14, $offset: 3);
      margin-right: -100%;
    }
    .sidebars {
      float: none;
      width: auto;
      margin: 0;
      .sidebar-first {
        @include col(3, 14);
      }
      .sidebar-second {
        @include col(4, 14, $offset: 7);
      }
    }
  }
}
